<h2 mat-dialog-title>Update a Report</h2>
<mat-dialog-content [formGroup]="form">
  Title
  <mat-form-field>
    <input matInput formControlName="title" value="{{title}}">
  </mat-form-field>
  Description
  <mat-form-field>
    <input matInput formControlName="description" value="{{description}}">
  </mat-form-field>
  Theme
  <mat-select id="select" placeholder="Select theme"
  formControlName="theme" value="{{theme}}">
    <mat-option value="Política">
        Política</mat-option>
    <mat-option value="Esportes">
        Esportes</mat-option>
    <mat-option value="Famosos">
        Famosos</mat-option>
    <mat-option value="Outros">
        Outros</mat-option>
  </mat-select>
  Link
  <mat-form-field>
    <input matInput formControlName="link" value="{{link}}">
  </mat-form-field>
  Image Link
  <mat-form-field>
    <input matInput formControlName="imgLink" value="{{imgLink}}">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Update</button>
</mat-dialog-actions>