<div class="container">
  <div class="body">
    <div class="title" id="title">
      <h1>Reports Admin</h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Theme</th>
          <th scope="col">Description</th>
          <th scope="col">link</th>
          <th scope="col">Image Link</th>
          <th></th>

        </tr>
      </thead>
      <tr *ngFor="let report of reports">
        <td>{{report.title}}</td>
        <td>{{report.theme}}</td>
        <td>{{report.description}}</td>
        <td><a href="{{report.link}}">{{report.link}}</a></td>
        <td><a href="{{report.imgLink}}">{{report.imgLink}}</a></td>
      <button (click)="remove(report._id)"><i class="material-icons">delete_forever</i></button>
      <button (click)="openUpdateForm(report)"><i class="material-icons">refresh</i></button>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="addButton" (click)="openPostForm()"><i class="material-icons md-48">add_circle</i></button>
    </div>
  </div>
</div>  
