<div class="container">
  <div class="nav">
      <button mat-button (click)=logout(pin)><i class="material-icons">exit_to_app</i></button>
  </div>
  <div class="table">
    <table mat-table [dataSource]="reports" class="mat-elevation-z8">
      <ng-container matColumnDef="Título">
        <th mat-header-cel *matHeaderCellDef>Titulo</th>
        <td mat-cel *matCellDef="let element">{{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="Tema">
        <th mat-header-cel *matHeaderCellDef>Tema</th>
        <td mat-cel *matCellDef="let element">{{element.theme}}</td>
      </ng-container>

      <ng-container matColumnDef="Descrição">
        <th mat-header-cel *matHeaderCellDef>Description</th>
        <td mat-cel *matCellDef="let element">{{element.description}}</td>
      </ng-container>


      <ng-container matColumnDef="Link">
        <th mat-header-cel *matHeaderCellDef>Link</th>
        <td mat-cel *matCellDef="let element"><a href={{element.link}}>{{element.link}}</a></td>
      </ng-container>

      <ng-container matColumnDef="Image Link">
        <th mat-header-cel *matHeaderCellDef>Image Link</th>
        <td mat-cel *matCellDef="let element"><a href={{element.imgLink}}>{{element.imgLink}}</a></td>
      </ng-container>

      <ng-container matColumnDef="Actions">
          <th mat-header-cel *matHeaderCellDef>Actions</th>
          <td mat-cel *matCellDef="let element"><div>
            
              <button mat-button (click)=delete(element._id)><i class="material-icons">delete</i></button>
              <button mat-button (click)=update(element)><i class="material-icons">refresh</i></button>

          </div></td>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
  <button id="post" mat-button (click)=post(element)><i id="posticon" class="material-icons">add_box</i></button>
</div>