.table button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.table thead{
    background: rgb(143, 139, 139);
}

.table tr{
    background: rgb(236, 233, 235);
}

table{
    width: 100%;
    table-layout: fixed;
}

table tr td{
    width: 80px;
    overflow: hidden;
    white-space:nowrap;

}



.table{
    padding: 50px 0px;
}
.body{
    text-align: center;
    margin-left:22.5px;
}

.addButton {

    background-color: transparent;
    transition-duration: 0.4s;
    border:none;
}  

.addButton i:hover {
    color: #4CAF50; 

}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 64px; }