.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-header-row{
    background-color: #D8C3A5;
}
thead, tbody{
    width: 100%;
}
th{
    width: 16.6%;
    margin: 0 4px;
}

td{
    width: 15.46vw;
    overflow: hidden;
    text-align: center;
    margin: 0 4px;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAE7DC
    
}

.nav{
    width: 100%;
    display: flex;
    background: #D8C3A5;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

#post{
    position: fixed;
    top:600px;
    left:46%;
}

#posticon{
    font-size: 40px;
}